*{
  font-family: sans-serif;
  box-sizing: border-box;
}

h1{
  text-align: center;
}
.half {
  padding:1em;
  margin:.5%;
  border:2px black solid;
  display:inline-block;
  width:49%
}

.whole{
  padding:1em;
  margin:.5% auto;
  border:2px black solid;
  width:99%;
}

#section1, #section4{
  background-color: cornflowerblue;
}

#section2, #section5{
  background-color: aqua;
}

#section3, #section6{
  background-color: sandybrown;
}